<!-- zomg im ghetto -->

<div class="container">
	<div class="row">
		<!-- indicators -->
		<div class="col-md-3">

			<div class="card bg-warning">
				<div class="card-body">
					<i class="fas fa-users fa-lg"></i>
					<h5 class="card-title">Users</h5>
					<p class="card-text">5 / 40 Users Overstaffed</p>
				</div>
			</div>

			<div class="card bg-danger">
				<div class="card-body">
					<i class="fas fa-folder-open fa-lg"></i>
					<h5 class="card-title">Projects</h5>
					<p class="card-text">2 / 4 Projects Understaffed</p>
				</div>
			</div>

			<div class="card bg-info">
				<div class="card-body">
					<i class="fas fa-cogs fa-lg"></i>
					<h5 class="card-title">Skills</h5>
					<p class="card-text">All good!</p>
				</div>
			</div>

			<div class="card bg-info">
				<div class="card-body">
					<i class="fas fa-sitemap fa-lg"></i>
					<h5 class="card-title">Organization</h5>
					<p class="card-text">Meh...</p>
				</div>
			</div>
		</div>

		<!-- Chart Area -->
		<div class="col-md-9">
			<svg id='sunburst'></svg>
		</div>
	</div>
</div>