<!-- zomg im ghetto -->

<div class="container">
	<div class="row">
		<!-- indicators -->
		<div class="col-md-3">

			<nav class="nav flex-column">

			<div class="card bg-warning nav-link active" data-target="#chart-users" data-toggle="tab" >
				<div class="card-body">
					<i class="fas fa-users fa-lg"></i>
					<h5 class="card-title">Users</h5>
					<p class="card-text">5 / 40 Users Overstaffed</p>
				</div>
			</div>

			<div class="card bg-danger nav-link" data-target="#chart-projects" data-toggle="tab">
				<div class="card-body">
					<i class="fas fa-folder-open fa-lg"></i>
					<h5 class="card-title">Projects</h5>
					<p class="card-text">2 / 4 Projects Understaffed</p>
				</div>
			</div>

			<div class="card bg-info nav-link" data-target="#chart-skills" data-toggle="tab">
				<div class="card-body">
					<i class="fas fa-cogs fa-lg"></i>
					<h5 class="card-title">Skills</h5>
					<p class="card-text">All good!</p>
				</div>
			</div>

			<div class="card bg-info nav-link" data-target="#chart-org" data-toggle="tab">
				<div class="card-body">
					<i class="fas fa-sitemap fa-lg"></i>
					<h5 class="card-title">Organization</h5>
					<p class="card-text">Meh...</p>
				</div>
			</div>
			</nav>

		</div>

		<!-- Chart Area -->
		<div class="col-md-9">
			<!-- <svg id='sunburst'></svg> -->
			<div class='tab-content'>
				<div class="tab-pane active" id="chart-users">
					<img 
						src="assets/circular-hierarchy-ex.png"
						style='width: 100%;'
						alt="sunburst-ex">
				</div>

				<div class="tab-pane" id="chart-skills">
					<img 
						src="assets/sunburst-ex.jpg"
						style='width: 100%;'
						alt="sunburst-ex">
				</div>

				<div class="tab-pane" id="chart-projects">
					<img 
						src="assets/gantt-ex.jpg"
						style='width: 100%;'
						alt="gantt-ex">
				</div>

				<div class="tab-pane" id="chart-org">
					<img 
						src="assets/ritalin.jpg"
						style='width: 100%;'
						alt="gantt-ex">
				</div>
				
			</div>
		</div>
	</div>
</div>