<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Users</h2>
			<mat-form-field>
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			</mat-form-field>

			<mat-table #table [dataSource]="dataSource" matSort>

				<ng-container matColumnDef="user_id">
					<mat-header-cell *matHeaderCellDef mat-sort-header>id</mat-header-cell>
					<mat-cell *matCellDef="let elem">{{elem.user.id}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="user_first_name">
					<mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
					<mat-cell *matCellDef="let elem">{{elem.user.first_name}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="user_last_name">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
					<mat-cell *matCellDef="let elem">{{elem.user.last_name}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="user_email">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
					<mat-cell *matCellDef="let elem">{{elem.user.email}}</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
				<mat-row 
					*matRowDef="let row; columns: columnsToDisplay;"
					(click)="this.router.navigateByUrl('profile');"
				></mat-row>
			</mat-table>

			<mat-paginator #paginator
				[pageSize]="10"
				[pageSizeOptions]="[5, 10, 20]"
				[showFirstLastButtons]="true">
			</mat-paginator>
		</div>
	</div>
</div>
