<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Users</h2>
			<mat-form-field>
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			</mat-form-field>

			<table mat-table #table [dataSource]="dataSource" matSort>

				<ng-container matColumnDef="user_id">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
					<td mat-cell *matCellDef="let elem">{{elem.user.id}}</td>
				</ng-container>

				<ng-container matColumnDef="user_first_name">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
					<td mat-cell *matCellDef="let elem">{{elem.user.first_name}}</td>
				</ng-container>

				<ng-container matColumnDef="user_last_name">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
					<td mat-cell *matCellDef="let elem">{{elem.user.last_name}}</td>
				</ng-container>

				<ng-container matColumnDef="user_email">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
					<td mat-cell *matCellDef="let elem">{{elem.user.email}}</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
				<tr mat-row 
					*matRowDef="let row; columns: columnsToDisplay;"
					(click)="this.router.navigateByUrl('user');"
				></tr>
			</table>

			<mat-paginator #paginator
				[pageSize]="10"
				[pageSizeOptions]="[5, 10, 20]"
				[showFirstLastButtons]="true">
			</mat-paginator>
		</div>
	</div>
</div>
